#app, #app>div {
  height: 100%
}  
  
  html, body {
    background-color: #bb7fd9;
    display: "flex";
    height: "100vh";
    overflow: "scroll initial";
    font-family: 'Kanit', sans-serif
  }

  .icon {
    width: 40px;
    margin-left: 15px;
  }

  #font-link {
    font-family: 'Kanit', sans-serif;
  }
  

  footer {
    font-family: 'Kanit', sans-serif;
    margin-top: 10px;
  }
 
  .sp-logo-side {
    animation: rotation 2s infinite linear;
  } 

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .div-profile {
     position: fixed;
     right: 0;
  }

  #root{
    background-color: #bb7fd9;
  }

  .navbar {
    background: #000000
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #bb7fd9;
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s
}